<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">پیشخوان</h4>
        <p class="text-muted page-title-alt">به سیستم هاژه خوش آمدید</p>
        <div id="admin-dashboard-view">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card-box">
                        <div class="bar-widget">
                            <div class="table-box">
                                <div class="table-detail">
                                    <div class="iconbox bg-info">
                                        <i class="icon-user-following"></i>
                                    </div>
                                </div>
                                <div class="table-detail">
                                    <h4 class="m-t-0 m-b-5"><b id="dashboard-user-cnt"></b></h4>
                                    <p class="text-muted m-b-0 m-t-0">تعداد کارمندان</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card-box">
                        <div class="bar-widget">
                            <div class="table-box">
                                <div class="table-detail">
                                    <div class="iconbox bg-success">
                                        <i class="icon-phone"></i>
                                    </div>
                                </div>

                                <div class="table-detail">
                                    <h4 class="m-t-0 m-b-5"><b id="dashboard-tels"></b></h4>
                                    <p class="text-muted m-b-0 m-t-0">تعداد شماره ثبت شده</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card-box">
                        <div class="bar-widget">
                            <div class="table-box">
                                <div class="table-detail">
                                    <div class="iconbox bg-danger">
                                        <i class="icon-phone"></i>
                                    </div>
                                </div>

                                <div class="table-detail">
                                    <h4 class="m-t-0 m-b-5"><b id="dashboard-unset-tels"></b></h4>
                                    <p class="text-muted m-b-0 m-t-0">تعداد شماره های ثبت نشده</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card-box">
                        <div class="bar-widget">
                            <div class="table-box">
                                <div class="table-detail">
                                    <div class="iconbox bg-warning">
                                        <i class="icon-people"></i>
                                    </div>
                                </div>

                                <div class="table-detail">
                                    <h4 class="m-t-0 m-b-5"><b id="dashboard-perfect-users"></b></h4>
                                    <p class="text-muted m-b-0 m-t-0">تعداد کارمندان اطلاعات ناقص</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="display: none;">

                <div class="col-lg-4">
                    <div class="card-box">
                        <h4 class="text-dark header-title m-t-0 m-b-30">گزارش جستجو روزانه</h4>

                        <div class="widget-chart text-center">
                            <div id="sparkline3"></div>
                            <ul class="list-inline m-t-15">
                                <li>
                                    <h5 class="text-muted m-t-20">صبح</h5>
                                    <h4 class="m-b-0">1000</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">ظهر</h5>
                                    <h4 class="m-b-0">523</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">شب</h5>
                                    <h4 class="m-b-0">965</h4>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="card-box">
                        <h4 class="text-dark  header-title m-t-0 m-b-30">گزارش جستجو هفتگی</h4>

                        <div class="widget-chart text-center">
                            <div id="sparkline2"></div>
                            <ul class="list-inline m-t-15">
                                <li>
                                    <h5 class="text-muted m-t-20">صبح</h5>
                                    <h4 class="m-b-0">1000</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">ظهر</h5>
                                    <h4 class="m-b-0">523</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">شب</h5>
                                    <h4 class="m-b-0">965</h4>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="card-box">
                        <h4 class="text-dark  header-title m-t-0 m-b-30">گزارش جستجو ماهانه</h4>

                        <div class="widget-chart text-center">
                            <div id="sparkline1"></div>
                            <ul class="list-inline m-t-15">
                                <li>
                                    <h5 class="text-muted m-t-20">صبح</h5>
                                    <h4 class="m-b-0">1000</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">ظهر</h5>
                                    <h4 class="m-b-0">523</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">شب</h5>
                                    <h4 class="m-b-0">965</h4>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <!-- end row -->

        <div id="dashboard-unread-message" class="row">

            <div class="col-lg-12">

                <div class="portlet">
                    <!-- /primary heading -->
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark text-uppercase">
                            پیام های دریافتی جدید
                        </h3>
                        <div class="portlet-widgets">
                            <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                            <span class="divider"></span>
                            <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i
                                    class="ion-minus-round"></i></a>
                            <span class="divider"></span>
                            <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="portlet2" class="panel-collapse collapse in">
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>فرستنده</th>
                                        <th>عنوان</th>
                                        <th>زمان ارسال</th>
                                        <th>پاسخ</th>
                                    </tr>
                                    </thead>
                                    <tbody id="dashboard-unread-messages">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->


        </div>

        <!-- end row -->

    </div>
</div>

