body {
    /*background-image: url("../image/bank_home.jpg");*/
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    direction: rtl;
    font-family: 'B Nazanin';
    font-size: x-large;
}

main {
    flex: 1 0 auto;
}

input {
    direction: rtl;
    text-align: center;
    border-bottom-color: black !important;
}
input.searchbox {
    background-color:
                    transparent;
    border: none;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    color:rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;

}
label {
    color: black !important;
}

button {
    font-family: 'B Nazanin';
    font-size: xx-large;
}

@font-face {
    font-family: 'B Nazanin';
    src: local('B Nazanin'),
    local('BNazanin'),
    url('font/BNazanin/BNazanin.woff2') format('woff2'),
    url('font/BNazanin/BNazanin.woff') format('woff'),
    url('font/BNazanin/BNazanin.ttf') format('truetype');
    font-weight: 400;
    font-stretch: normal;
    /*font-style: normal;*/
}

img {
    height: 100%;
    width: 100%;
}

.blur-background {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

.black-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

.chips , .chips:hover , .chips{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 0 1px 6px 0
                rgba(32,33,36,0.28);
    border-color:rgba(223,225,229,0);
}



.main_master {
    margin-top: 3vh;
}

#search_bar {
    height: 60px;
}

.btn-signin {
    position: absolute;
    margin: 5vh 1.5vw;
    left: 0;
}

.btn span {
    font-size: x-large;
}

#add_user {
    display: none;
    background-color: white;
    margin: 5% 20px;
    padding: 25px;
}

.input-field label {
    right: -10px;
}