/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: #9AA0A6;
}

@font-face {
    font-family: 'DastNevis';
    src: url('font/danstevis.eot'); /* IE9 Compat Modes */
    src: url('font/danstevis.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/danstevis.woff2') format('woff2'), /* Modern Browsers */
         url('font/danstevis.woff') format('woff'), /* Modern Browsers */
         url('font/danstevis.ttf') format('truetype'), /* Safari, Android, iOS */
         url('font/danstevis.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BYekan';
    src: url(font/Yekan.woff);
    src: url(font/Yekan.eot?#iefix) format("embedded-opentype"), url(font/Yekan.woff) format("woff"), url(font/Yekan.ttf) format("truetype"), url('font/Yekan.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Vazir';
    src: url(font/Vazir.woff);
    src: url(font/Vazir.eot?#iefix) format("embedded-opentype"), url(font/Vazir.woff) format("woff"), url(font/Vazir.ttf) format("truetype"); /* Legacy iOS */
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Vazir-Bold';
    src: url(font/Vazir-Bold.woff);
    src: url(font/Vazir-Bold.eot?#iefix) format("embedded-opentype"), url(font/Vazir-Bold.woff) format("woff"), url(font/Vazir-Bold.ttf) format("truetype"); /* Legacy iOS */
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Vazir-Light';
    src: url(font/Vazir-Light.woff);
    src: url(font/Vazir-Light.eot?#iefix) format("embedded-opentype"), url(font/Vazir-Light.woff) format("woff"), url(font/Vazir-Light.ttf) format("truetype"); /* Legacy iOS */
    font-weight: normal;
    font-style: normal
}