body {
    background: url("../image/bank_home.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    direction: rtl;
    font-family: 'B Nazanin';
    font-size: x-large;
    background-attachment: fixed;
    
}

main {
    flex: 1 0 auto;
}

input {
    direction: rtl;
    text-align: center;
    border-bottom-color: black !important;
}

input.searchbox {
    background-color: transparent;
    border: none;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    font: normal 25px Vazir;
}

label {
    color: black !important;
}

button {
    font-family: 'B Vazir';
    font-size: xx-large;
}

img {
    height: 100%;
    width: 100%;
}

.activator {
    height: 214px;
}

.blur-background {
    background-color: rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

.black-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

.chips {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 582px;
}

.chips:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);

}

.main_master {
    margin-top: 3vh;
}

#search_bar {
    height: 44px;
    text-align: right;
}

.btn-signin {
    position: absolute;
    margin: 5vh 1.5vw;
    left: 0;
    background: #5094ed;
    -moz-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
    box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
    font: normal 19px Vazir;

}

.btn span {
    font-size: x-large;
}

#add_user {
    display: none;
    background-color: white;
    margin: 5% 20px;
    padding: 25px;
}

.input-field label {
    right: -10px;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 5px;
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 15px;
}

.card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card h4 {
    font: normal 18px Vazir;
    padding: 2px 0;
    margin: 2px auto;
    text-align: center;
    color: #fff;
    background: #f29325;
    border-radius: 5px;
}

.card p {
    font: normal 13px Vazir;
    margin: 2px 0;
    padding: 9px 0;
    color: #000000;
    border-bottom: 1px solid rgba(160,160,160,0.2);
}

.cardtitle {
    color: grey;
    font-size: 18px;
}

    .cardtitle i {
        padding: 2px 3px 2px 8px;
        color: #2c3e50;
    }

button.cardtitlebutton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #f29325;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card1 > a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button.cardtitlebutton:hover, a.cardtitlelink:hover {
    opacity: 0.7;
}

.logo-main {
    bottom: 0;
    right: 0;
    position: fixed;
    width: 150px;
    height: auto;
    z-index: 99999
}